<sg-menubar>
  <ng-container section="left">
    <div class="section-spacer-left">
      <sg-button buttonText="btn 1"></sg-button>
      <sg-button buttonText="btn 1"></sg-button>
      <sg-button buttonText="btn 1"></sg-button>
    </div>
  </ng-container>

  <ng-container section="center">
    <sg-button buttonText="btn 2"></sg-button>
    <sg-button buttonText="btn 2"></sg-button>
    <sg-button buttonText="btn 2"></sg-button>
    <sg-button buttonText="btn 2"></sg-button>
  </ng-container>

  <ng-container section="right">
    <div class="section-spacer-right">
      <sg-button buttonText="btn 3"></sg-button>
      <sg-button buttonText="btn 3"></sg-button>
      <div class="icon-user"> test </div>
    </div>
  </ng-container>
</sg-menubar>
