:root {
    /****** Basic Colors *****/
    --primary-color: #65FBD2;
    --primary-color-contrast: #000000;
    --secondary-color: #D3FBD8;
    --secondary-color-contrast: #000000;
    --background-color: #515151;
    --background-color-contrast: #FFFFFF;
    --button-dark-color: #222222;
    --button-light-color: #AAAAAA;
    --surface-color: #5e5e5e;
    --surface-color-contrast: #000000;
    --warning-color: #FFA450;
    --warning-color-contrast: #000000;
    --error-color: #FF3B3B;
    --error-color-contrast: #040404;
    --success-color: #2CD82C;
    --success-color-contrast: #000000;
    --shadow-dark-color: #363636a5;
    --shadow-light-color: #606060a1;
}
    /****** Basic Colors SCSS *****/
    $primary-color: var(--primary-color);
    $primary-color-contrast: var(--primary-color-contrast);
    $secondary-color: var(--secondary-color);
    $secondary-color-contrast: var(--secondary-color-contrast);
    $background-color: var(--background-color);
    $background-color-contrast: var(--background-color-contrast);
    $button-dark-color: var(--button-dark-color);
    $button-light-color: var(--button-light-color);
    $surface-color: var(--surface-color);
    $surface-color-contrast: var(--surface-color-contrast);
    $warning-color: var(--warning-color);
    $warning-color-contrast: var(--warning-color-contrast);
    $error-color: var(--error-color);
    $error-color-contrast: var(--error-color-contrast);
    $success-color: var(--success-color);
    $success-color-contrast: var(--success-color-contrast);
    $shadow-dark-color: var(--shadow-dark-color);
    $shadow-light-color: var(--shadow-light-color);
