<sg-menubar>
    <ng-container section="left">
        <div class="section-spacer-left">
            <sg-button buttonText="btn 1"></sg-button>
            <sg-button buttonText="btn 1"></sg-button>
            <sg-button buttonText="btn 1"></sg-button>
        </div>
    </ng-container>

    <ng-container section="center">
        <sg-button buttonText="btn 2"></sg-button>
        <sg-button buttonText="btn 2"></sg-button>
        <sg-button buttonText="btn 2"></sg-button>
        <sg-button buttonText="btn 2"></sg-button>
        <!-- <div class="uk-inline">
            <sg-button buttonText="btn 2"></sg-button>
            <div uk-dropdown="mode: click">
                <div class="dropmenu-wrapper">
                    <div>check</div>
                    <div>check2</div>
                    <div>check3</div>
                    <div>check4</div>
                </div>
            </div>
        </div> -->
    </ng-container>

    <ng-container section="right">
        <div class="section-spacer-right">
            <sg-button buttonText="btn 3"></sg-button>
            <sg-button buttonText="btn 3"></sg-button>
            <div class="icon-user"> test </div>
        </div>
    </ng-container>
</sg-menubar>