@import 'src/app/scss/base/colors';

.login-wrapper {
    height: 100vh;
    width: 100vw;
    background-color: $surface-color;
    display: flex;
    justify-content: center;
    align-items: center;
}

sg-ibutton {
    margin: 3rem;
}