@import "src/app/scss/base/colors";

.interface-button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 3.5rem;
  height: 3.5rem;
  border-radius: 0.25rem;
  margin: 5px;
  z-index: 900;
  span {
    color: var(--surface-color-contrast);
    padding: 0.25rem;
  }
  box-shadow:
    rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  &:active {
    box-shadow:
      rgba(0, 0, 0, 0.4) 0px 2px 4px,
      rgba(0, 0, 0, 0.2) 0px -2px 0px inset;
    transform: translateY(1px);
    border: 1px solid $border-light-highlight;
    margin: 4px !important;
  }
  &:hover {
    box-shadow:
      rgba(0, 0, 0, 0.4) 0px 2px 4px,
      rgba(0, 0, 0, 0.2) 0px -2px 0px inset;
    transform: translateY(1px);
  }
}


